

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


header{
    width: 100%;
    background-color: #fde509;
    height: 150px;
}

.wrapper{
    background-color: ;
    max-width: 1240px;
    margin: 0 auto;
}




/*

search fields


*/

div.animate {
    background: url("../img/product_bg.jpg");
    background-size: cover;
    margin: 1%; 
    
    border:1px dotted; 
    width: 23%;
    text-align:left; 
    position: relative;
    padding-bottom: 15%;
    float: left;
    height: 0;
}

img.animate {
    width: 23%;
    height: auto;
}

@media (max-width:830px) {

    header{
        background-color: ;
    }

    div.animate{

        width: 31.3%;

    }
 }


 @media (max-width:530px) {
    div.animate{
        width: 80%;
        height: auto;
        float: none;
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
        
    }
 }



