.clearFix{
    clear: both;
}


#wrapper {
    max-width: 1240px;
    margin: 0 auto;
    background-color: #c0c0c0;
}

.navfilters {
    width: 100%;
    background-color: pink;
    text-align: center;
    margin: 0 auto;
}

.searchTerm {
    width: 31.333%;
    float: left;
    height: 100px;
    background-color: red;
    margin: 1%;
}

#dialog {
    width: 650px;
    height: 500px;
    background-color: #fff;
    overflow: auto;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.GRlogo {
    text-indent: -99999px;
    background: #c0c0c0 url(../img/grlogo.png) no-repeat;
    float: right;
    width: 60px;
    height: 35px;
}

.imgleft {
    background: url(../img/fixedfooter.jpg) no-repeat;
    width: 207px;
    height: 163px;
}

.txtright {
    float: right;
    width: 175px;
}

.linkright {
    float: right;
    width: 175px;
}

footer {
    height: 50px;
    padding: 5px;
}
  


@media all and (max-width: 971px) {
  .searchTerm{
    width: 48%;
  }
}



@media all and (max-width: 676px) {
  .searchTerm{
    width: 90%;
    display: block;
    float: none;
    margin: 0 auto;
  }
}