
.proj01 { background: url(../img/units/gr_worldwarz.png) no-repeat; background-size: cover; }


.gr { background-color: #006ebf; }
.momiq { background-color: #e1003f; }
.ella { background-color: #f907b1; }
