#productWrapper {
	width: 85%;
}
#burstProducts .mix {
    opacity: 0;
    display: none;
    width: 250px;
    height: 100px;
    background: #c0c0c0;
}

#filters {
	margin-left: auto;
	margin-right: auto;
}
.filter {
	width: 100px;
	height: 50px;
	background: #f0f0f0;
	float: left;
	list-style-type: none;
}

.filter.active {
	font-weight: 700;
}

.sort {
	width: 100px;
	height: 50px;
	list-style-type: none;
}

.sort.active {
	font-weight: 700;
}

