html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearFix{
	clear: both;
}

.menu {
	float: left;
	width: 200px;
}

.menu,.menu li, .menu p{
    line-height: 20px;
    position: relative;
}

.menu .menuheader{
    line-height: 30px;
    background-color: #bada55;
}

.menu .item{
    background-color: #cdc;
    display: none;
    line-height: 0;
    float: left;
}
.item {
	width: 600px;
}


.menu:hover ul>li{
    color: #000;
    display: block;
    line-height: 30px;
}

.menu ul>li:hover{
    background-color: #23e;
}

#burstProducts .mix {
    opacity: 0;
    display: none;
    width: 250px;
    height: 100px;
    background: #c0c0c0;
}

#filters {
	margin-left: auto;
	margin-right: auto;
}
.filter {
	width: 100px;
	height: 50px;
	background: #f0f0f0;
}

.filter.active {

}

.sort {
	width: 100px;
	height: 50px;
}

.sort.active {

}

